@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@import "tailwindcss-animated";

@theme {
  --font-inter: 'Inter', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
  --font-dmsans: 'DM Sans', sans-serif;

  --breakpoint-mlg: 56rem;
  --breakpoint-lgd: 77rem;

  --color-white-2: #F7F9FC;

  --color-blue-2: #312ECB;
  --color-blue-3: #0D47A1;
  --color-blue-4: #101828;
  --color-blue-5: #263238;
  --color-blue-6: #37474F;

  --color-gray-1: #070308;
  --color-gray-2: #8F8F8F;
  --color-gray-3: #D9D9D9;
  --color-gray-4: #BBBBBB;
  --color-gray-5: #F5F5F4;

  --color-black-1: #040308;

  --color-green-1: #24BB8C;
  --color-green-2: #3BC49A;
  --color-green-3: #00C9A7;
  --color-green-4: #EAFFF9;

  --color-purple-1: #4A148C;

  --color-pink-1: #F4EBFF;
}

* {
  font-family: 'DM Sans', 'sans-serif';
}

select,
::picker(select) {
  appearance: base-select;
}


.select_input::picker-icon {
  transition: 0.4s rotate;
}

.select_input:open::picker-icon {
  rotate: 180deg;
}

.select_input::picker(select) {
  border: none;
}

.select_input::picker(select):focus {
  outline: none;
}

.select_option {
  display: flex;
  justify-items: flex-start;
  gap: 20px;
  padding: 10px;

}


.select-option-container {
  border: 1px solid #B3B3B3;
  border-radius: 12px;
  overflow: hidden;
}

/* .select_option:first-of-type {
  border-radius: 12px 12px 0 0;
}

.select_option:last-of-type {
  border-radius: 0 0 12px 12px;
}

.select_option:not(option:last-of-type) {
  border-bottom: none;
} */

/* .select_option:nth-of-type(odd) {
  background: #F7F9FC;
} */

.select_option:hover,
.select_option:focus {
  background: #F7F9FC;
}

.select_option:checked {
  font-weight: bold;
}

.select_option::checkmark {
  display: none;
  order: 1;
  margin-left: auto;
}

::picker(select) {
  opacity: 0;
  transform: translateY(-0.5rem);
  /* Slide up initially */
  transition: opacity 0.7s ease, transform 0.7s ease;
  transition-behavior: allow-discrete;
}

::picker(select):popover-open {
  opacity: 1;
  transform: translateY(0);
  /* Slide to original position */
}

@starting-style {
  ::picker(select):popover-open {
    opacity: 0;
    transform: translateY(-0.5rem);
  }
}

::picker(select) {
  top: calc(anchor(bottom) + 10px);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}