@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
  --font-inter: 'Inter', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
  --font-dmsans: 'DM Sans', sans-serif;

  --color-white-2: #F7F9FC;

  --color-blue-2: #312ECB;
  --color-blue-3: #0D47A1;
  --color-blue-5: #263238;
  --color-blue-6: #37474F;

  --color-gray-1: #070308;
}

* {
  /* margin: 0px;
  padding: 0px; */
  box-sizing: border-box;
  font-family: 'DM Sans', 'sans-serif';
}

